<!doctype html>
<html class="no-js">
	<head>
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<%= favicon_tag 'images/favicon.ico' %>

		<title><%= current_page.data.title || "GitLab UX" %></title>
		
		<%= stylesheet_link_tag :site %>
		<%= stylesheet_link_tag 'component' %>
		<%= stylesheet_link_tag 'hint.min' %>
		<%= javascript_include_tag 'modernizr-custom' %>
	</head>

	<body class="<%= page_classes %>">
		<svg class="hidden">
			<defs>
				<symbol id="icon-arrow" viewBox="0 0 64 64">
					<title>Arrow Left</title>
					<polygon id="previous" fill="#666666" points="39.293,51.707 19.586,32 39.293,12.293 40.707,13.707 22.414,32 40.707,50.293 "/>
				</symbol>
			</defs>
		</svg>
		<main class="container">
			<div class="pages">
				<%= yield %>
			</div>
			<nav class="pagenav">
				<button class="pagenav__button pagenav__button--left" aria-label="Navigate left"><svg class="icon"><use xlink:href="#icon-arrow"></use></svg></button>
				<button class="pagenav__button pagenav__button--right" aria-label="Navigate right"><svg class="icon icon--rright"><use xlink:href="#icon-arrow"></use></svg></button>
			</nav>
		</main>

		<%= javascript_include_tag 'classie' %>
		<%= javascript_include_tag :all %>
		<script>
			(function() {
				var pages = [].slice.call(document.querySelectorAll('.pages > .page')),
					currentPage = 0,
					
					revealerOpts = {
						// the layers are the elements that move from the sides
						nmbLayers : 3,
						// bg color of each layer
						bgcolor : ['#FCA326','#FC6D26','#E24329'],
						// effect classname
						effect : 'anim--effect-3',
						onStart : function(direction) {
							// next page gets class page--animate-[direction]
							if(direction ==='right') {
								var nextPage = pages[currentPage === pages.length-1 ? 0 : currentPage+1];	
							} else {
								var nextPage = pages[currentPage === 0 ? pages.length-1 : currentPage-1];
							}
							
							classie.add(nextPage, 'page--animate-' + direction);
						},
						onEnd : function(direction) {
							// remove class page--animate-[direction] from next page
							if(direction ==='right') {
								var nextPage = pages[currentPage === pages.length-1 ? 0 : currentPage+1];	
							} else {
								var nextPage = pages[currentPage === 0 ? pages.length-1 : currentPage-1];
							}
							nextPage.className = 'page';
						}
					};
					revealer = new Revealer(revealerOpts);
				// clicking the page nav buttons
				document.querySelector('button.pagenav__button--left').addEventListener('click', function() { reveal('left'); });
				document.querySelector('button.pagenav__button--right').addEventListener('click', function() { reveal('right'); });

				document.addEventListener('keydown', function(event) {
				    if (event.which === 37) {
				        reveal('left');
				    }
				});

				document.addEventListener('keydown', function(event) {
				    if (event.which === 39) {
				        reveal('right');
				    }
				});

				document.addEventListener('keydown', function(event) {
					if (event.which === 66) {
						document.querySelector('.mask').classList.toggle('visible');
					}
				})

				// triggers the effect by calling instance.reveal(direction, callbackTime, callbackFn)
				function reveal(direction) {
					var callbackTime = 750,
						callbackFn = function() {
							classie.remove(pages[currentPage], 'page--current');
							if (direction === 'right') {
								currentPage = currentPage === pages.length-1 ? 0 : currentPage+1;	
							} else {
								currentPage = currentPage === 0 ? pages.length-1 : currentPage-1;	
							}
							

							classie.add(pages[currentPage], 'page--current');	
						};

					revealer.reveal(direction, callbackTime, callbackFn);
				}
			})();
		</script>
  </body>
</html>
