/* line 1, component.css.scss */
html,
body {
  min-height: 100vh;
  overflow-x: hidden; }

/* line 7, component.css.scss */
.js .container {
  position: relative;
  height: 100vh;
  overflow: scroll; }

/* line 13, component.css.scss */
.js .pages {
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  z-index: 0; }

/* line 21, component.css.scss */
.page {
  padding: 6.5em;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 33, component.css.scss */
.js .page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  visibility: hidden;
  z-index: 1; }

/* line 43, component.css.scss */
.js .page--current {
  visibility: visible;
  position: relative; }

/* Navigation */
/* line 51, component.css.scss */
.pagenav {
  position: absolute;
  pointer-events: none;
  top: 2em;
  left: 2em;
  right: 2em;
  bottom: 2em;
  z-index: 1000; }

/* line 61, component.css.scss */
.no-js .pagenav {
  display: none; }

/* line 65, component.css.scss */
.pagenav__button {
  position: fixed;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 2em;
  cursor: pointer;
  pointer-events: auto; }

/* line 77, component.css.scss */
.pagenav__button:focus {
  outline: none; }

/* line 81, component.css.scss */
.pagenav__button--left,
.pagenav__button--right {
  top: 50%;
  margin: -1em 0 0 0; }

/* line 87, component.css.scss */
.pagenav__button--right {
  right: 40px; }

/* line 91, component.css.scss */
.icon {
  width: 100%;
  height: 100%;
  fill: rgba(0, 0, 0, 0.15);
  stroke: #303840; }

/* line 98, component.css.scss */
.pagenav__button:hover .icon {
  stroke: #000; }

/* line 102, component.css.scss */
.icon--rright {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

/* Revealers */
/* line 110, component.css.scss */
.revealer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  pointer-events: none; }

/* line 118, component.css.scss */
.revealer--cornertopleft,
.revealer--cornertopright,
.revealer--cornerbottomleft,
.revealer--cornerbottomright {
  top: 50%;
  left: 50%; }

/* line 126, component.css.scss */
.revealer--top,
.revealer--bottom {
  left: 0; }

/* line 131, component.css.scss */
.revealer--right,
.revealer--left {
  top: 50%;
  left: 50%; }

/* line 137, component.css.scss */
.revealer--top {
  bottom: 100%; }

/* line 141, component.css.scss */
.revealer--bottom {
  top: 100%; }

/* line 145, component.css.scss */
.revealer__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ddd; }

/* Revealer effects */
/* Three layer effect (effect-3) */
/* line 158, component.css.scss */
.anim--effect-3 .page:nth-child(2) {
  background: #fff; }

/* line 162, component.css.scss */
.anim--effect-3 .revealer--animate .revealer__layer {
  -webkit-animation: anim-effect-3-1 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
  animation: anim-effect-3-1 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards; }

/* line 167, component.css.scss */
.anim--effect-3 .revealer--animate .revealer__layer:nth-child(2) {
  -webkit-animation-name: anim-effect-3-2;
  animation-name: anim-effect-3-2; }

/* line 172, component.css.scss */
.anim--effect-3 .revealer--animate .revealer__layer:nth-child(3) {
  -webkit-animation-name: anim-effect-3-3;
  animation-name: anim-effect-3-3; }

@-webkit-keyframes anim-effect-3-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  25%,
	75% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@keyframes anim-effect-3-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  25%,
	75% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@-webkit-keyframes anim-effect-3-2 {
  0%,
	12.5% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  37.5%,
	62.5% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  87.5%,
	100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@keyframes anim-effect-3-2 {
  0%,
	12.5% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  37.5%,
	62.5% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  87.5%,
	100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@-webkit-keyframes anim-effect-3-3 {
  0%,
	25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
  75%,
	100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
@keyframes anim-effect-3-3 {
  0%,
	25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
  75%,
	100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); } }
