/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
/* line 8, _normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 18, _normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 31, _normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
/* line 50, _normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
/* line 61, _normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 70, _normalize.scss */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 79, _normalize.scss */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 92, _normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 102, _normalize.scss */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 115, _normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 125, _normalize.scss */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 134, _normalize.scss */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 143, _normalize.scss */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 152, _normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, _normalize.scss */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
/* line 170, _normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, _normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 187, _normalize.scss */
sub {
  bottom: -0.25em; }

/* line 191, _normalize.scss */
sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 202, _normalize.scss */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
/* line 210, _normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 222, _normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
/* line 234, _normalize.scss */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 243, _normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 257, _normalize.scss */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
/* line 269, _normalize.scss */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 278, _normalize.scss */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 288, _normalize.scss */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 299, _normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 310, _normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 322, _normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 333, _normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 346, _normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 359, _normalize.scss */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 368, _normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 378, _normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 388, _normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
/* line 397, _normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
/* line 406, _normalize.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 416, _normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* line 5, site.css.scss */
*,
*::after,
*::before {
  box-sizing: border-box; }

/* line 11, site.css.scss */
body {
  background: #fafafa;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 21, site.css.scss */
.mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 100ms; }

/* line 34, site.css.scss */
.visible {
  opacity: 1; }

/* line 38, site.css.scss */
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

/* line 46, site.css.scss */
a {
  text-decoration: none; }

/* line 50, site.css.scss */
.presentation-list a {
  color: inherit; }

/* line 54, site.css.scss */
.page a {
  font-weight: 900;
  font-size: 13px;
  color: #fca326; }
  /* line 59, site.css.scss */
  .page a:hover {
    color: #FC6D26; }

/* line 64, site.css.scss */
.main {
  padding: 60px;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1); }

/* line 72, site.css.scss */
.header {
  display: flex;
  height: 30px;
  align-items: center; }

/* line 78, site.css.scss */
img.logo {
  width: 30px;
  margin-right: 15px; }

/* line 83, site.css.scss */
h1 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.2em;
  font-weight: 600;
  margin: 0; }

/* line 90, site.css.scss */
.presentation-list {
  list-style-type: none;
  margin: 30px 0;
  padding: 15px 45px; }
  /* line 95, site.css.scss */
  .presentation-list:hover {
    background-color: #fafafa; }

/* line 100, site.css.scss */
h3 {
  font-size: 1.2em;
  font-weight: 100;
  margin: 6px 0 0 0;
  padding: 0;
  color: #e24329; }

/* line 108, site.css.scss */
h4 {
  font-size: 0.7em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.55); }

/* line 117, site.css.scss */
p {
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px; }

/* line 124, site.css.scss */
.team-faces {
  margin: 20px 0; }

/* line 128, site.css.scss */
.footer-image {
  margin-top: 80px; }

/* line 132, site.css.scss */
.hero {
  margin: 20px 0 5px 0; }

/* line 136, site.css.scss */
.large {
  font-size: 600px;
  font-weight: 800; }

/* line 141, site.css.scss */
.page ul {
  list-style-type: none;
  margin: 3px 0 0 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.7); }

/* line 148, site.css.scss */
.inline li {
  display: inline;
  padding: 2px 5px; }
  /* line 152, site.css.scss */
  .inline li:first-of-type {
    padding-left: 0; }

/* line 157, site.css.scss */
.page h2 {
  margin: 40px 0 0 0; }

/* line 161, site.css.scss */
.examples {
  display: flex; }
  /* line 164, site.css.scss */
  .examples h5 {
    margin: 20px 0 0 0; }

/* line 170, site.css.scss */
.example {
  max-width: 500px;
  margin-right: 20px; }
  /* line 174, site.css.scss */
  .example img {
    max-width: 100%; }

/* line 179, site.css.scss */
img {
  margin-top: 10px; }

/* line 183, site.css.scss */
.bold {
  font-weight: 900; }

/* line 187, site.css.scss */
.full-width {
  max-width: 100%;
  max-height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  display: block; }

/* line 195, site.css.scss */
.separators li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 60px; }
  /* line 199, site.css.scss */
  .separators li:first-of-type {
    margin-top: 20px; }

/* line 204, site.css.scss */
.pages h5 {
  margin-bottom: 5px;
  margin-top: 40px; }

/* line 209, site.css.scss */
.no-top-margin {
  margin-top: 0 !important; }

/* line 213, site.css.scss */
.footer {
  margin-top: 80px; }

/* line 217, site.css.scss */
.yellow {
  color: #f1a646; }

/* line 221, site.css.scss */
.center {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
