---
title: 20170206 - UX Update
layout: presentation
---

<div class="page page--current">
	<h1>UX Group Update</h1>
	<h4>Feb 06, 2017</h4>
	<div class="team-faces">
		<img src='images/GitLabUX-faces.png'/>

	</div>

</div>
<div class="page">
	<h1>UX Workshop</h1>
	<img class="hero" src="images/20170206/mexico.jpg" />
	
	<ul>
		<li><h2>Improve Todos</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Identify type of todo with icons" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26702">#26702</a></li> |
				<li><a class="hint--bottom" aria-label="Change count to dot with a high number of todos" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26703">#26703</a></li> |
				<li><a class="hint--bottom" aria-label="Only add todo if @ mention is newly added to issue description" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26704">#26704</a></li> |
				<li><a class="hint--bottom" aria-label="Filter todos by manual add" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26705">#26705</a></li> |
				<li><a class="hint--bottom" aria-label="Mark todo complete from email" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26706">#26706</a></li>
			</ul>
		</li>
		<li><h2>Search bar transition</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Potential smoother transition for new search filter model" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26739">#26739</a></li>
			</ul>
		</li>
		<li><h2>Global side bar</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Update global sidebar to dropdown" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26200#note_21501269">Improved plan</a></li>
			</ul>
		</li>
		<li><h2>Personal smart dashboard</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Personal smart dashboard" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/27111">#27111</a></li>
			</ul>
		</li>
		<li><h2>Project smart dashboard</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Project smart dashboard" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/27112">#27112</a></li>
			</ul>
		</li>
		<li><h2>Commenting on pictures</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Comment on pictures inside a comment (design discussions)" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/24816#note_21709657">#24816</a></li>
			</ul>
		</li>
		<li><h2>Merge request widget redesign</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Refine merge request widget" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25424#note_21432001">Dimitrie's quick survey</a></li> |
				<li><a class="hint--bottom" aria-label="Merge Request Widget brainstorm" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26752">Brainstorm</a></li> |
				<li><a class="hint--bottom" aria-label="Refine merge request widget" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25424#note_21800473">Designs</a></li> |
				<li><a class="hint--bottom" aria-label="Jump to merge request widget" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26753">Jump to widget idea</a></li>
			</ul>
		</li>
	</ul>
	<p class="footer">Taurie is working on a <a href="https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests/4814">blog post</a> that shares more about this process.</p>
</div>

<div class="page">
	<h1>Accomplishments</h1>
	<ul class="separators">
		<li><h2>Adding issues to the board</h2>
			<div class="examples">
				<div class="example">
					<h5>Before</h5>
					<p>A single column overwhelmed with thousands of cards, filtering the whole board to try and find the issues you are looking for.</p>
					<img class="full-width" src='images/20170206/old-issueboards.gif'/>
				</div>
				<div class="example">
					<h5>After</h5>
					<p>Now, you get an experience optimized to browse, search and filter to find and add just the issues you want to the board.</p>
					<img class="full-width" src='images/20170206/new-issueboards.gif'/>
				</div>
			</div>			
		</li>
		<li>
			<h2>Polishing the Search bar</h2>
			<p>Usability test conducted with 5 users. Created 20 issues highlighting the issues they ran into and what we can improve. (<a class="hint--bottom" aria-label="UX research: issue filter usability testing" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26945">#26945</a>).</p>
			<div class="examples">
				<div class="example">
					<img src='images/20170206/sb-ux-01-sm.gif' height="180px" />
				</div>
				<div class="example">
					<img src='images/20170206/sb-ux-02-sm.gif' height="180px" />
				</div>
				<div class="example">
					<img src='images/20170206/sb-ux-03-sm.gif' height="180px" />
				</div>
			</div>

			<p>Continuing to improve upon the new experience. (<a class="hint--bottom" aria-label="Issues list search and filters bar" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25913">#25913</a>). Adding token styling, moving to Merge Request page, and many other improvements.</p>
			<div class="examples">
				
					<img src='images/20170206/search-token-style.png' />
				
			</div>

		</li>
		<li><h2>Refining the Merge Request widget</h2>
			<div class="examples">
				<div class="example">
					<h5>Current</h5>
					<ul>
						<p>Unorganized information hierarchy, status not clear, important elements are hidden, visual clutter and unclear relationships between elements, inconsistency across states</p></li>
					</ul>

					<img src="images/20170206/current-mr.gif" />

					<p>Just some of the related issues: 
						<a class="hint--bottom" aria-label="Accepting a merge request isn't obvious" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/24559">#24559</a>,
						<a class="hint--bottom" aria-label="Remove approval in merge request" href="https://gitlab.com/gitlab-org/gitlab-ee/issues/894">ee#894</a>,
						<a class="hint--bottom" aria-label="Improve Merge Request accept flow with automatic rebase and option to squash" href="https://gitlab.com/gitlab-org/gitlab-ee/issues/411">ee#411</a>,
						<a class="hint--bottom" aria-label="Vote to unlock merge request" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/13411">#13411</a>,
						<a class="hint--bottom" aria-label="Add pipeline mini-graph to system information box in MR/Commit Views" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/23785">#23785</a>,
						<a class="hint--bottom" aria-label="Show that a deploy is running in MR" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25140">#25140</a>,
						<a class="hint--bottom" aria-label="'Resolve these conflicts' link is too subtle" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/21135">#21135</a>,
						<a class="hint--bottom" aria-label="Show tags which contain a given commit in their own metadata row on the commit page widget" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26001">#26001</a>,
						<a class="hint--bottom" aria-label="Remove or Delete when removing a branch" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25569">#25569</a>,
						<a class="hint--bottom" aria-label="Pipeline status not glanceable on merge requests" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25139">#25139</a>,
						<a class="hint--bottom" aria-label="Display Prometheus sparkline in Merge Request" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26944">#26944</a>,
						<a class="hint--bottom" aria-label="Warning for when Shared Runners aren't enabled isn't obvious enough" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/18292">#18292</a>,
						<a class="hint--bottom" aria-label="Display pipeline summary information on MR" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26896">#26896</a>,
						<a class="hint--bottom" aria-label="The 'Accept Merge Request' button shows up on MR that are merging to non protected branches making it confusing for when users are allowed to merge or not on other branches" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25330">#25330</a> 
					</p>
				</div>
				<div class="example">
					<h5>Exploration</h5>
					<p>Ongoing work, understanding all of the states, and being deliberate with the information hierarchy. <br />See the disscusion: 
						<a class="hint--bottom" aria-label="Refine merge request widget" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25424">#25424</a>,
					<img src="images/20170206/new-mr.gif" />
					
				</div>
			</div>
		</li>
		<li>
			<h2>Improving Slack/Mattermost integration</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Create Mattermost channel during GitLab project creation" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/27514">#27514</a></li> |
				<li><a class="hint--bottom" aria-label="Mattermost and Slack integration" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/27513">#27513</a></li> |
				<li><a class="hint--bottom" aria-label="Jump to Mattermost channel from GitLab issue" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26432">#26432</a></li> |
				<li><a class="hint--bottom" aria-label="Link GitLab group to Mattermost team" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/23964">#23964</a></li> |
				<li><a class="hint--bottom" aria-label="Improve UI of Mattermost and Slack Command services" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25487">#25487</a></li>
			</ul>
			<div class="examples">
				<div class="example">
					<img src='images/20170206/chatop-01.png' />
				</div>
				<div class="example">
					<img src='images/20170206/chatop-03.gif' />
				</div>
			</div>
		</li>
		<li>
			<h2>Sharing with the community</h2>
			<h5>Webcast</h5>
			<div class="examples">
				<div class="example">
					<img src="images/20170206/webcast.png" width="250px" />
				</div>
				<div class="example">
					<h3>Designing for the Modern Developer</h3>
					<p>Team hosted a webcast. Read <a href="https://about.gitlab.com/2017/01/24/designing-for-the-modern-developer-recap/">recap</a>.</p>
				</div>
			</div>
			<h5>Dribbble</h5>
			<div class="examples">
				<div class="example">
					<a class="embedly-card" data-card-key="65925e42ec6a4c7fbf7c9f28e8f408db" data-card-controls="0" data-card-width="300" data-card-branding="0" data-card-image="https://d13yacurqjgara.cloudfront.net/users/72077/screenshots/3255597/dribbble_mr_widget_iteration.png" data-card-type="article-full" href="https://dribbble.com/shots/3255597-GitLab-Merge-Request-Redesign">GitLab Merge Request Redesign</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
				</div>
				<div class="example">
					<a class="embedly-card" data-card-key="65925e42ec6a4c7fbf7c9f28e8f408db" data-card-controls="0" data-card-width="300" data-card-branding="0" data-card-type="article-full" href="https://dribbble.com/shots/3259275-GitLab-Monitoring-Deployboards">GitLab Monitoring - Deployboards</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
				</div>
				<div class="example">
					<a class="embedly-card" data-card-key="65925e42ec6a4c7fbf7c9f28e8f408db" data-card-controls="0" data-card-width="300" data-card-branding="0" data-card-type="article-full" href="https://dribbble.com/shots/3263794-GitLab-Issue-Boards-Add-Existing-Issues">GitLab Issue Boards - Add Existing Issues</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
				</div>
			</div>
		</li>
		
		
	</ul>
</div>
<div class="page">
	<h1>Improved process</h1>
	<ul>
		<li><h2>Scheduling</h2>
			<p>UX work has been ready at the start of the releases for the last several releases.</p></li>
		<li><h2>Documenting</h2>
		<p>Actively documenting decisions as they are made in the <a href="https://docs.gitlab.com/ce/development/ux_guide/index.html">UX Guide</a></p></li>
		<li><h2>Staging</h2>
			<p>Developing a thoughtful approach to breaking down large features into small iterations</p>
				<ul class="inline">
					<li><a href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26739">Example of the approach</a></li>
					<li><a href="https://gitlab.com/gitlab-com/www-gitlab-com/issues/1065">Documenting guidance</a></li>
				</ul>			
		</li>
	</ul>
	<p class="footer">See the <a href="https://about.gitlab.com/handbook/ux/">UX workflow</a></p>
</div>


<div class="page">
	<h1>Working on</h1>
	<ul>
		<li>
			<h2>Navigation is a strength for the GitLab experience</h2>
				<ul>
					<li><p>1. The <span class="bold">information architecture</span> is well organized and logical: <a class="hint--bottom" aria-label="[Meta] Revising our project navigation order" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25386">#25386</a> (9.0)</p></li>
					<li><p>2. The <span class="bold">visuals</span> feel intentional, polished, and adapt well to responsive screen sizes: Some great discussions: <a class="hint--bottom" aria-label="Remove fixed positioning from navbar" href="https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/7547">!7547</a>, <a class="hint--bottom" aria-label="Collapse header on scroll exploration" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26211">#26211</a>, some recent visual polish: <a class="hint--bottom" aria-label="Better hover/focus states for navigation bar buttons" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/24149">#24149</a></p></li>
					<li><p>3. The <span class="bold">interaction</span> is smooth, dependable, and easy: Some good discussions, but more work needed</p></li>
				</ul>
	
		</li>
		<li><h2>Visually polished and consistent</h2>
			<ul>
				<li><p>1. Recent work on consistency for common controls, such as labels, badges, dropdowns, buttons and links
					<a class="hint--bottom" aria-label="Uniquely style labels" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25518">#25518</a>,
					<a class="hint--bottom" aria-label="Uniquely and uniformly style status badges" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25564">#25564</a>,
					<a class="hint--bottom" aria-label="[meta] Review button styling throughout GitLab" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/24063">#24063</a>,
					<a class="hint--bottom" aria-label="Make hover/focus/active states consistent for dropdowns" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/24150">#24150</a>,
					<a class="hint--bottom" aria-label="[meta] Review text link styling throughout GitLab" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/24062">#24062</a>
				</p></li>
				<li><p>2. Added animations to smooth out the experience: <a class="hint--bottom inline" aria-label="[meta] Animate all the things!" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/24831">#24831</a></p></li>
				<li><p>3. Continuing to brainstorm and create other issues to improve our polish (<a class="hint--bottom" aria-label="Improve UX polish" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/27549">#27549</a>). Feel free to join effort. Check out the <a href="https://gitlab.com/gitlab-org/gitlab-ce/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=UX%20Polish">UX Polish</a> label. 
			</ul>
		</li>
		<li>
			<h2>Issue board as a workflow tool</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Issue board as a workflow tool" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/25698">#25698</a></li>
			</ul>
		</li>
		<li>
			<h2>Standardize the settings pages views</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Standardize the settings pages views" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/22210">#22210</a></li>
			</ul>
		</li>
		<li>
			<h2>Update global sidebar to dropdown</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Update global sidebar to dropdown" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/26200">#26200</a></li>
			</ul>
		</li>
		<li>
			<h2>Responsive tables</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Tables > make responsive (environments)" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/23643">#23643</a></li>
			</ul>
		</li>
		<li>
			<h2>Personal and Project Dashboards</h2>
			<ul class="inline">
				<li><a class="hint--bottom" aria-label="Personal smart dashboard" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/27111">#27111</a></li> | 
				<li><a class="hint--bottom" aria-label="Project smart dashboard" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/27112">#27112</a></li>
			</ul>
		</li>
	</ul>
	<p class="footer">See the <a href="https://about.gitlab.com/handbook/ux/strategy/">UX strategy</a></p>
</div>
<div class="page">
	<h1>Stalled. Need developer =)</h1>
	<p>Issues with great UX, and excited users.
	<ul>
		<li>
			<h2 class="inline">Burndown Chart</h2><a class="hint--bottom inline" aria-label="Burndown chart" href="https://gitlab.com/gitlab-org/gitlab-ee/issues/91">EE#91</a>
			<img class="full-width" src="images/20170206/burndown.png" />
			<img src="images/20170206/burndown-reaction.png" />
		</li>

		<li>
			<h2 class="inline">Multiple assignees</h2><a class="hint--bottom inline" aria-label="Allow multiple assignees for an issue/merge request MR (feature proposal)" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/13386">#13386</a>
			<img class="full-width" src="images/20170206/multiple-assignees.png" />
			<img src="images/20170206/multiple-assignees-reaction.png" />
		</li>

		<li>
			<h2 class="inline">Branch name when using "new branch" button in issues</h2><a class="hint--bottom inline" aria-label="Branch name when using 'new branch' button in issues" href="https://gitlab.com/gitlab-org/gitlab-ce/issues/21143">#21143</a>
			<img class="full-width" src="images/20170206/branch-name.png" />
			<img src="images/20170206/branch-name-reaction.png" />
		</li>
	</ul>
	<p class="footer">See other <a href="https://gitlab.com/gitlab-org/gitlab-ce/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=UX%20ready">UX Ready issues</a></p>
</div>

<div class="page">
	<h1>Any questions?</h1>
	<div class="center large yellow">
		?
	</div>
</div>

<div class="mask"></div>