---
title: GitLab UX
layout: table-of-contents
---

<div class="main">
	<div class="header">
		<%= image_tag 'logo.svg', :class => 'logo' %>
		<h1>UX Functional Group Updates</h1>		
	</div>	
	<ul class="presentation-list">
		<li class="presentation-link">
			<a href='20170206.html'>
				<h4>February 06, 2017</h4>
				<h3>Search, Adding issues to boards, Navigation and Polish</h3>
			</a>
		</li>
	</ul>
</div>
